<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.V_LearningAndroid"
        tools:targetApi="31">
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".LinearAndRelativeLayoutsActivity"
            android:exported="false" />
        <activity
            android:name=".tablayoutviewpager2.TabViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentsActivity"
            android:exported="false" />
        <activity
            android:name=".MotionLayoutAnimation2Activity"
            android:exported="false" />
        <activity
            android:name=".MotionLayoutAnimation1Activity"
            android:exported="false" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".LottieAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".AddTextChangedListenerActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".TopAppBarActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnClickListenerActivity"
            android:exported="false" />
        <activity
            android:name=".DialogActivity"
            android:exported="false" />
    </application>

</manifest>